[Desktop Entry]
Name=SeatHub
Comment=Play on a SeatHub rig
Exec=seathub
Icon=moonlight
Terminal=false
Type=Application
Categories=Qt;Game;
Keywords=seathub;cloud gaming;stream;remote play;
